/* Section Home */
.info {
  padding-top: 4.5rem;
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: var(--color-primary);
}

.dark-theme .info {
  background-color: var(--dark-color-primary);
}

.name {
  font-size: 2.5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  color: var(--fc-title);
}

.dark-theme .name {
  color: var(--dark-fc-title);
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  margin-left: 3rem;
  text-align: left;
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
  color: var(--fc-text);
}

.dark-theme .description {
  color: var(--dark-fc-text);
}

.photo {
  margin: 1rem 0 1rem 0;
  background-color: #eaeaea;
  width: 50%;
  min-width: 16rem;
  height: auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);
}

.dark-theme .photo {
  box-shadow: 0 6px 10px rgba(226, 187, 109, 0.8);
}

/* Button CV */
.btn-cv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background-color: var(--dark-fc-title);
  color: var(--dark-color-primary);
  font-weight: var(--fw-bold);
}

.dark-theme .btn-cv {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-cv:hover,
.btn-cv:focus {
  background-color: #b39456;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Barra de progreso */
  transition: width 0.5s;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon i {
  font-size: 24px;
}

.icon.download {
  opacity: 1;
  transition: opacity 0.3s;
}

.icon.complete {
  opacity: 0;
  transition: opacity 0.3s;
}

.icon.complete.active {
  opacity: 1;
}

.icon.download.active {
  opacity: 0;
}
