/* Constantes */
:root {
  /* Fonts */
  --ff-title: "Poppins", sans-serif; /* font family title */
  --ff-text: "Roboto", sans-serif; /* font family text */
  --fw-normal: 400; /* font weight normal */
  --fw-bold: 700; /* font weight bold */
  /* End Fonts */
  /* Colors Fonts */
  --fc-title: #302c29; /* font color title */
  --dark-fc-title: #e2bb6d; /* font color title dark theme */
  --fc-text: #1E3957; /* font color title */
  --dark-fc-text: #d6d6d6; /* font color title dark theme */
  --color-primary: #EAE7E3;
  --dark-color-primary: #1E3957;
  --color-secundary: #D9D5CC;
  --dark-color-secundary: #14202E;
  --color-tertiary: #BDB5AA; 
  --dark-color-tertiary: #4A596A;
  /* End Colors Fonts */
}

/* Nav */
.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem 1.25rem;
  background-color: var(--color-primary);
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
  color: var(--fc-text);
}

.dark-theme .navbar {
  background-color: var(--dark-color-primary);
  color: var(--dark-fc-text);
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
}

.menu {
  list-style-type: none;
  display: flex;
  gap: 0.9375rem;
  margin: 0;
  padding: 0;
  justify-content: flex-end;
  flex-grow: 1;
  top: 4.5rem; /* Ajusta para dejar espacio para los controles */

  @media (max-width: 576px) {
    display: none;
    flex-direction: column;
    background-color: #333;
    position: absolute;
    top: 5.5rem; /* Incrementa este valor para bajar el menú */
    right: 0;
    padding: 0.625rem;
    border-radius: 0.3125rem;
    width: auto;
    z-index: 10; /* Asegura que quede encima de otros elementos */
  }
}

.menu.active {
  display: flex;

  @media (max-width: 576px) {
    background-color: var(--color-tertiary);
    color: var(--fc-title);
  }
}

.dark-theme .menu.active {
  @media (max-width: 576px) {
    background-color: var(--dark-color-tertiary);
    color: var(--dark-fc-title);
  }
}

.menu-item {
  cursor: pointer;
}

.menu-item__link {
  text-decoration: none;
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
  color: var(--fc-text);
}

.dark-theme .menu-item__link {
  color: var(--dark-fc-text);
}

.menu-item__link:hover,
.menu-item__link:focus {
  color: var(--fc-title);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

.dark-theme .menu-item__link:hover,
.dark-theme .menu-item__link:focus {
  color: var(--dark-fc-title);
  text-decoration: underline;
  text-decoration-thickness: 0.2rem;
}

/* Controls */
.controls {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Alinea los controles al extremo derecho */
  position: static; /* Asegura que no se muevan de su posición original */

  @media (max-width: 576px) {
    position: absolute; /* Mantén los controles ajustados en pantallas pequeñas */
    right: 1rem;
    top: 0.625rem;
  }
}

.menu-toggle {
  display: none;
  cursor: pointer;
  font-size: 1.5rem;

  @media (max-width: 576px) {
    display: block;
    font-size: 1.5rem;
    cursor: pointer;
    order: 1; /* Mueve la hamburguesa al principio */
  }
}

/* Button Language */
.language {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  @media (max-width: 576px) {
    order: 0; /* Mantén el orden normal */
  }
}

.language:hover,
.language:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-language .language:hover,
.dark-language .language:focus {
  background-color: rgba(238, 234, 234, 0.88);
}

/* Button Theme */
.theme {
  margin-left: 1rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.125rem;
  height: 3.125rem;
  border-radius: 50%;
  transition: background-color 0.3s ease;

  @media (max-width: 576px) {
    order: 0; /* Mantén el orden normal */
  }
}

.theme:hover,
.theme:focus {
  background-color: rgba(0, 0, 0, 0.1);
}

.dark-theme .theme:hover,
.dark-theme .theme:focus {
  background-color: rgba(238, 234, 234, 0.88);
}

.theme-icon {
  font-size: 1.75rem;
  color: #666666;
  transition: color 0.3s ease;
}

.dark-theme .theme-icon {
  font-size: 1.75rem;
  color: #d6d6d6;
  transition: color 0.3s ease;
}

/* Section Info */
.info {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 4.2rem;
  background-color: var(--color-primary);

  @media (max-width: 576px) {
    flex-direction: column;
    text-align: center;
    margin-top: 3.5rem;
  }
}

.dark-theme .info {
  background-color: var(--dark-color-primary);
}

.name {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  font-family: var(--ff-title);
  font-weight: var(--fw-bold);
  color: var(--fc-title);

  @media (max-width: 576px) {
    font-size: 2rem;
  }
}

.dark-theme .name {
  color: var(--dark-fc-title);
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
  color: var(--fc-text);

  @media (max-width: 576px) {
    font-size: 1rem;
  }
}

.dark-theme .description {
  color: var(--dark-fc-text);
}

.photo {
  margin: 1rem 0 1rem 0;
  background-color: #eaeaea;
  width: 50%;
  min-width: 16rem;
  height: auto;
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.8);

  @media (max-width: 576px) {
    width: 60%;
    margin: 0 auto;
  }
}

.dark-theme .photo {
  box-shadow: 0 6px 10px rgba(226, 187, 109, 0.8);
}

/* Button CV */
.btn-cv {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  cursor: pointer;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  background-color: var(--dark-fc-title);
  color: var(--dark-color-primary);
  font-weight: var(--fw-bold);

  @media (max-width: 576px) {
    margin-bottom: 2rem;
  }
}

.dark-theme .btn-cv {
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
}

.btn-cv:hover,
.btn-cv:focus {
  background-color: #b39456;
}

.progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); /* Barra de progreso */
  transition: width 0.5s;
}

.icon {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.icon i {
  font-size: 24px;
}

.icon.download {
  opacity: 1;
  transition: opacity 0.3s;
}

.icon.complete {
  opacity: 0;
  transition: opacity 0.3s;
}

.icon.complete.active {
  opacity: 1;
}

.icon.download.active {
  opacity: 0;
}

/* Section Projects */
.projects {
  padding: 2rem;
  background-color: var(--color-secundary);
}

.dark-theme .projects {
  background-color: var(--dark-color-secundary);
}

.project-list {
  display: flex;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.card {
  padding: 0.5rem;
  width: 18rem;
  height: 28rem; /* Altura fija para todas las tarjetas */
  background-color: var(--color-tertiary);
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
  color: var(--fc-text);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Mantén el contenido y los botones separados */
}

.card-body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem; /* Espaciado entre los elementos */
}

.card-img-top {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: 12rem; /* Ajusta la altura según lo necesario */
  object-fit: cover; /* Recorta la imagen para llenar el contenedor sin distorsionarse */
  border-radius: 0.5rem; /* Opcional: para bordes redondeados */
}

.dark-theme .card {
  background-color: var(--dark-color-tertiary);
  color: var(--dark-fc-text);
}

.card-title {
  font-family: var(--ff-text);
  font-weight: var(--fw-bold);
  color: var(--fc-text);
}

.dark-theme .card-title {
  color: var(--dark-fc-text);
}

.btn-primary {
  margin-top: 0; /* Asegura que no se agregue espacio adicional */
  background-color: var(--dark-fc-title);
  font-weight: var(--fw-bold);
  color: var(--fc-text);
  border: none;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #b39456;
  font-weight: var(--fw-bold);
  color: var(--fc-text);
}

/* Section Skills */
.skills {
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: var(--color-primary);
}

.dark-theme .skills {
  background-color: var(--dark-color-primary);
}

.skill {
  display: flex;
  justify-content: center;
  gap: 1rem; /* Espacio entre los círculos */
  flex-wrap: wrap; /* Permite que los círculos se envuelvan cuando no caben */
}

.skills-type {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-tertiary);
  border-radius: 1rem;
  padding: 1.5rem;
  text-align: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  @media (max-width: 576px) {
    margin: 0.5rem 1rem;
  }
}

.skills-title {
  width: 100%;
  text-align: center;
}

.dark-theme .skills-type {
  background-color: var(--dark-color-tertiary);
  box-shadow: 0 6px 10px rgba(226, 187, 109, 0.8);
}

.skills-name {
  color: var(--fc-text);
  font-weight: var(--fw-bold);
}

.dark-theme .skills-name {
  color: var(--dark-fc-text);
}

.skill-circle {
  width: 6rem; /* Tamaño del círculo */
  height: 6rem; /* Tamaño del círculo */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  background-color: var(--color-tertiary);
}

.dark-theme .skill-circle {
  background-color: var(--dark-color-tertiary);
  box-shadow: 0 4px 6px rgba(226, 187, 109, 0.5);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.skill-circle:hover,
.skill-circle:focus {
  transform: scale(1.05); /* Leve aumento de tamaño en hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.8); /* Sombra más pronunciada */
}

.dark-theme .skill-circle:hover,
.dark-theme .skill-circle:focus {
  transform: scale(1.05);
  box-shadow: 0 6px 10px rgba(226, 187, 109, 0.8);
}

.skill-circle__content {
  width: 90%; /* Reduce un poco el espacio para que la imagen tenga margen */
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.skill-icon {
  width: 60%; /* Ajuste el tamaño de la imagen dentro del círculo */
  height: auto;
  object-fit: contain; /* Asegura que la imagen no se distorsione */
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 1.25rem 2rem;
  background-color: var(--color-primary);
  font-family: var(--ff-text);
  font-weight: var(--fw-normal);
  color: var(--fc-text);
}

.socials {
  display: flex;
  gap: 1rem;
  list-style-type: none;
}

.socials-link {
  text-decoration: none;
}

.socials-img {
  width: 30px;
  height: 30px;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.socials-img:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.footer-note {
  width: 100%;
  text-align: center;
  font-size: 0.875rem;
  margin-top: 1rem;
}

.dark-theme .footer {
  background-color: var(--dark-color-primary);
  color: var(--dark-fc-text);
}