/* Nav */
.nav-link {
  font-family: "Roboto", sans-serif;
  color: #d6d6d6;
  font-weight: 400;
}

.nav-link:hover {
  color: #00bd95;
  text-decoration: underline;
  text-decoration-thickness: 0.2rem; /* Ajusta el grosor de la línea */
}

.nav-link:active {
  color: #00bd95 !important;
  font-weight: 700 !important;
}

.navbar-toggler,
.navbar-toggler-icon {
  background-color: #00bd95;
  color: #00bd95;
  /* box-shadow: 0 0 10px rgba(0, 189, 149, 0.7), 0 0 20px rgba(0, 189, 149, 0.5); */
}

/* Section Info */
.info {
  padding-bottom: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;

  @media (max-width: 768px) {
    flex-direction: column;
    text-align: center;
  }
}

.name {
  font-size: 2.5rem;
  margin-bottom: 1rem;

  @media (max-width: 768px) {
    font-size: 2rem;
  }
}

.description {
  font-size: 1.2rem;
  line-height: 1.5;
  margin-bottom: 2rem;

  @media (max-width: 768px) {
    font-size: 1rem;
  }
}

.photo {
  margin: 1rem 0 1rem 0;
  background-color: #00bd95;
  width: 50%;
  height: auto;

  @media (max-width: 992px) {
    width: 60%;
    margin: 0 auto;
  }
}

/* Section Skills */
.skills {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.skill {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre los círculos */
  flex-wrap: wrap; /* Permite que los círculos se envuelvan cuando no caben */
}

.skill-circle {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.skill-circle__content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.skill-circle__text {
  font-weight: bold;
  text-transform: uppercase;  
}

.java {
  background-color: #F8981D;
  border: 0.2rem solid #F8981D;
  color: #3E3E3E;
}

.sql {
  background-color: #2c97e9;
  border: 0.2rem solid #2c97e9;
  color: #3E3E3E ;
}

.html {
  background-color: #E34F26;
  border: 0.2rem solid #E34F26;
  color: #FFFFFF;
}

.css {
  background-color: #2965F1;
  border: 0.2rem solid #2965F1;
  color: #FFFFFF;
}

.javascript {
  background-color: #F7DF1E;
  border: 0.2rem solid #F7DF1E;
  color: #000000;
}